<div class="min-h-screen flex justify-center">
    <div class="mt-10 container mx-auto px-4">
        <h1 class="text-4xl max-sm:text-3xl mb-6 font-bold text-orange-10">{{ ABOUT_TITLE }}</h1>

        <div>
            <div class="py-8">
                <h2 class="text-3xl font-semibold mb-6 text-orange-10">Welcome to BrewCulture</h2>
                <p class="text-orange-5 mb-3">
                    Your ultimate destination for a rich and aromatic coffee experience. We are both an online and
                    in-person coffee shop dedicated to bringing you the finest beans from around the world, carefully
                    roasted to perfection.
                </p>
                <p class="text-orange-5 mb-3">
                    At BrewCulture, we believe that coffee is more than just a beverage; it's a way of life, a culture
                    that unites people and fosters moments of joy and connection.
                </p>
            </div>

            <div class="py-8">
                <h2 class="text-3xl font-semibold mb-6 text-orange-10">Our Commitment to Quality</h2>
                <p class="text-orange-5 mb-3">
                    Our passion for coffee drives us to source the highest-quality beans from sustainable and ethical
                    farms. We work closely with local farmers and cooperatives to ensure fair prices and support
                    communities that rely on coffee production.
                </p>
                <p class="text-orange-5 mb-3">
                    Each bean is handpicked, ensuring that only the finest ones make their way into our carefully
                    curated collection.
                </p>
            </div>

            <div class="py-8">
                <h2 class="text-3xl font-semibold mb-6 text-orange-10">A World of Flavors</h2>
                <p class="text-orange-5 mb-3">
                    To create the perfect cup, we employ a meticulous roasting process, where our expert roasters bring
                    out the unique flavors and characteristics of each coffee variety.
                </p>
                <p class="text-orange-5 mb-3">
                    From bold and earthy dark roasts to vibrant and fruity light roasts, we offer a diverse range of
                    blends and single-origin coffees to cater to every palate.
                </p>
            </div>

            <div class="py-8">
                <h2 class="text-3xl font-semibold mb-6 text-orange-10">Join Our Coffee Community</h2>
                <p class="text-orange-5 mb-3">
                    Beyond our dedication to delivering exceptional coffee, we also strive to foster a sense of
                    community and connection among coffee lovers.
                </p>
                <p class="text-orange-5 mb-3">
                    Our blog features articles on brewing techniques, coffee culture, and fascinating stories behind the
                    beans we source. Join our online community, where you can engage with fellow coffee enthusiasts,
                    share your brewing tips, and explore the ever-evolving world of coffee.
                </p>
            </div>

            <div class="py-8">
                <h2 class="text-3xl font-semibold mb-6 text-orange-10">Start Your Coffee Adventure</h2>
                <p class="text-orange-5 mb-3">
                    Whether you're a seasoned coffee connoisseur or just starting your journey into the world of
                    specialty coffee, BrewCulture is here to accompany you on your quest for the perfect cup.
                </p>
                <p class="text-orange-5 mb-8">
                    Indulge in the finest flavors, experience the warmth of exceptional service, and embrace the art of
                    coffee with BrewCulture. Join us today and let's embark on a remarkable coffee adventure together.
                </p>
                <button
                    (click)="navigateToPage(router, PRODUCTS_ROUTE)"
                    class="inline-block bg-orange-3 hover:bg-orange-600 text-white font-bold py-3 px-6 rounded transition duration-300"
                >
                    Shop Now
                </button>
            </div>
        </div>
    </div>
</div>
