<!-- Footer -->
<footer class="bg-orange-1 bg-opacity-50 flex justify-center items-center md:h-56 mt-18 md:py-24">
    <div class="container px-6 md:flex md:flex-wrap md:justify-between">
        <div class="flex flex-col max-md:items-center max-md:text-center max-md:pt-16">
            <app-logo></app-logo>
            <p class="text-orange-0 text-sm mt-3">Built on the Random Data API</p>
        </div>
        <div class="flex flex-col text-orange-10 text-center max-md:mt-16 mt-1 max-md:pb-16">
            <p class="text-lg max-sm:text-base font-semibold">Designed & Developed by Michael Pereira</p>
            <span class="mt-3 flex justify-center">
                <a href="https://github.com/Mwpereira" rel="noreferrer" target="_blank">
                    <fa-icon [icon]="faGithubAlt" class="text-xl hover:text-amber-700 mx-3 cursor-pointer"></fa-icon>
                </a>
                <a href="https://www.linkedin.com/in/michael-pereira-07/" rel="noreferrer" target="_blank">
                    <fa-icon [icon]="faLinkedinIn" class="text-xl hover:text-amber-700 mx-3 cursor-pointer"></fa-icon>
                </a>
                <a href="mailto:michael.pereira@ibm.com" rel="noreferrer" target="_blank">
                    <fa-icon [icon]="faEnvelope" class="text-xl hover:text-amber-700 mx-3 cursor-pointer"></fa-icon>
                </a>
            </span>
        </div>
    </div>
</footer>
