<div class="min-h-screen flex justify-center">
    <div
        class="container flex max-xl:flex-col items-center justify-center max-sm:mt-20 max-sm:justify-start md:mt-0 xl:mt-0 max-sm:px-4 px-16 xl:space-x-8"
    >
        <div class="flex flex-col items-center xl:items-start max-xl:text-center">
            <h3 class="text-6xl max-sm:text-5xl mb-2 font-bold text-orange-2">Welcome to</h3>
            <h1 class="text-6xl max-sm:text-5xl mb-6 font-bold text-orange-10">BrewCulture</h1>
            <p class="text-lg max-sm:text-base text-orange-4 font-semibold w-4/5">
                Discover the perfect blend of convenience and ambiance at BrewCulture, where we serve up exceptional
                coffee experiences online and in-person.
            </p>
        </div>
        <!-- Purchased: Michael Pereira -->
        <img
            ngSrc="{{ brewCulturePng }}"
            alt="BrewCulture"
            class="max-sm:w-11/12 w-3/5 max-xl:w-11/12 max-xl:mt-14"
            width="100"
            height="100"
        />
    </div>
</div>
